.bg {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 20px;
}

.bg1 {
  background-image: url(../img/polyhedra-folding.png);
  background-color: rgb(0, 0, 0);
}

.bg2 {
  background-image: url(../img/called-up.png);
  background-color: rgb(255, 255, 255);
}

.bg3 {
  background-image: url(../img/kaleidocycle.png);
  background-color: rgb(0, 0, 0);
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  text-shadow: 0 1px rgb(100, 100, 100);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 192dpi) {
    
    .bg1 {
      background-image: url(../img/polyhedra-folding-2x.png);
    }

    .bg2 {
      background-image: url(../img/called-up-2x.png);
    }

    .bg3 {
      background-image: url(../img/kaleidocycle-2x.png);
    }
}
